ion-card {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--ion-card-background);
    color: var(--ion-text-color);
  }
  
  .imagen-detalle {
    width: 100%;
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .estrella-favorito {
    color: gold;
    font-size: 1.2em;
    margin-left: 6px;
    vertical-align: middle;
  }
  

  ion-card-header {
    text-align: center;
    padding-bottom: 0;
  }
  
  ion-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ion-text-color);
  }
  
  ion-card-subtitle {
    color: var(--ion-color-medium);
    font-size: 1rem;
  }
  
  ion-card-content p {
    font-size: 1rem;
    margin: 6px 0;
    color: var(--ion-text-color);
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  